<template>
  <div class="chats">
    <div class="header">
      <div class="header__menu">
        <div class="header__app-name">
          WhatsApp
        </div>

        <div class="header__menu-group">
          <img
            class="header__magnifying-glass"
            src="../assets/images/icons/magnifying-glass.png"
            alt="magnifying glass"
          />
          <img
            class="header__dots-menu"
            src="../assets/images/icons/dots-menu-minified.png"
            alt="dots menu"
          />
        </div>
      </div>

      <div class="header__tabs">
        <ul class="header__tabs-list">
          <li class="header__tabs-item">
            <img
              class="header__camera"
              src="../assets/images/icons/photo-camera.png"
              alt=""
            />
          </li>
          <li class="header__tabs-item header__tabs-item--active">
            Chats
            <div class="header__new-message-num">1</div>
          </li>
          <li class="header__tabs-item">Status</li>
          <li class="header__tabs-item">Calls</li>
        </ul>
      </div>
    </div>

    <div class="body">
      <UsersList :data="chatList" />
    </div>
    <ActionButton
      image="http://localhost:8080/images/icons/right-arrow.png"
      to="#"
    />
  </div>
</template>

<script>
import ActionButton from '../components/ActionButton.vue'
import UsersList from '../components/UsersList.vue'

export default {
  components: { UsersList, ActionButton },
  name: 'Chats',
  data() {
    return {
      chatList: this.$store.getters.getChatterList(
        localStorage.getItem('_whatsup-userid_')
      ),
    }
  },
}
</script>

<style lang="scss" scoped>
.chats {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 20.0096px;
  line-height: 23px;
  color: #fffffd;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.header {
  background-color: #195e55;
  color: #fffffd;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
  }

  &__magnifying-glass {
    margin-right: 15px;
  }

  &__menu-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tabs {
    padding: 10px 2px 0;
  }

  $cameraSize: 20px;
  &__camera {
    height: $cameraSize;
    width: $cameraSize;
    transform: translateY(-2px);
    filter: invert(100%);
  }

  &__tabs-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li:nth-child(1) {
      width: 10%;
    }
  }

  &__tabs-item {
    display: flex;
    height: 40px;
    justify-content: center;
    width: 30%;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    opacity: 0.5;
    &--active {
      opacity: 1;
      border-bottom: 2px solid;
    }
  }

  &__new-message-num {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 900;
    color: #195e55;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fffffd;
  }
}

.body {
  &__user-avatar {
    margin-right: 15px;
    height: 54px;
    width: 54px;
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__user-info {
    flex: auto;
  }

  &__user-name-date {
    color: #000;
    display: flex;
    justify-content: space-between;
  }

  &__user-name {
    padding-top: 10px;
  }

  &__user-date {
    font-size: 12px;
    color: rgb(105, 105, 105);
  }

  &__user-message {
    font-size: 14px;
    color: rgb(105, 105, 105);
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
  }
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
</style>
