<template>
  <div class="home">
    <div class="title">WhatsApp</div>
    <div class="login-pass">
      <div class="wrapper">
        <input placeholder="login" type="text" v-model="inputEmail" />
        <input placeholder="password" type="text" v-model="inputPassword" />
        <button class="btn" @click="onLoginEmit">Enter</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data: function() {
    return {
      inputEmail: '',
      inputPassword: '',
      dialogList: [],
    }
  },
  methods: {
    onLoginEmit: function() {
      this.$socket.emit('ON_LOGIN', {
        email: this.inputEmail,
        password: this.inputPassword,
      })
    },
  },
  sockets: {
    connect: function() {
      console.log('socket connected')
    },
    ON_USER_ID: function(userId) {
      localStorage.setItem('_whatsup-userid_', userId)
      this.$router.push('/chats')
    },
  },
}
</script>

<style lang="scss" scoped>
.home {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url('http://localhost:8080/images/avatars/whatsapp.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.title {
  margin-bottom: 240px;
  text-align: center;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 30px;
}
input {
  display: block;
  & + & {
    margin-top: 20px;
  }
}
.login-pass {
  display: flex;
  justify-content: center;
}
.btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}
</style>
