<template>
  <div class="messages">
    <div class="header">
      <div class="header__wrapper-back-user">
        <router-link
          to="chats"
          @click.native="ancestorData.$emit('change-direction', 'slide-right')"
        >
          <img
            class="header__back-arrow"
            src="../assets/images/icons/left-arrow.png"
            alt="left arrow"
          />
        </router-link>

        <a class="header__interlocutor-avatar-link" href="#">
          <img
            class="header__interlocutor-avatar"
            src="http://localhost:8080/images/avatars/AnnetStark.png"
            alt="interlocutor avatar"
          />
        </a>
        <a class="header__info" href="#">
          <div>
            <div class="header__interlocutor-name">Halina</div>
            <div class="header__interlocutor-status">was at 16:04</div>
          </div>
        </a>
      </div>

      <div class="header__wrapper-icons">
        <a href="#">
          <img src="../assets/images/icons/video-call.png" alt="video call" />
        </a>
        <a href="#">
          <img src="../assets/images/icons/phone.png" alt="phone" />
        </a>
        <a href="#">
          <img
            src="../assets/images/icons/dots-menu-minified.png"
            alt="dots menu"
          />
        </a>
      </div>
    </div>
    <div class="body">
      <div
        class="message-wrapper"
        v-for="message in dialogList"
        :key="message.id"
      >
        <div class="message-cloud">
          {{ message.message }}
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer__input-box">
        <img
          class="footer__smile-icon"
          src="http://localhost:8080/images/icons/smile.png"
          alt="smile icon"
        />
        <input
          class="footer__input"
          type="text"
          placeholder="input text"
          v-model="input"
          @keyup.enter="inputHandler(input)"
        />
        <img
          class="footer__paper-clip"
          src="http://localhost:8080/images/icons/paper-clip.png"
          alt="paper clip"
        />
      </div>
    </div>
    <button class="send" @click="inputHandler(input)">
      <img
        class="message"
        src="http://localhost:8080/images/icons/conversation.svg"
        alt="message"
      />
    </button>
  </div>
</template>

<script>
import ActionButton from '../components/ActionButton.vue'

export default {
  components: { ActionButton },
  props: ['chatId'],
  inject: {
    ancestorData: 'providedVal',
  },
  data: function() {
    return {
      input: '',
      dialogList: [],
    }
  },
  methods: {
    inputHandler: function(message) {
      this.$socket.emit('NEW_MESSAGE', {
        chatId: this.chatId,
        message: message,
        userId: localStorage.getItem('_whatsup-userid_'),
      })
    },
    initDialog() {
      this.$socket.emit('INIT_DIALOG', {
        chatId: this.chatId,
      })
    },
  },
  mounted() {
    this.initDialog()
  },
  sockets: {
    connect: function() {
      console.log('socket connected')
    },
    DIALOG_UPDATE: function(data) {
      this.dialogList = data
    },
  },
}
</script>

<style lang="scss" scoped>
.message {
  height: 30px;
  filter: invert(100%);
}
.send {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 13px;
  bottom: 20px;
  border-radius: 50%;
  display: block;
  padding: 0;
  border: 0;
  background-color: #3ecc3f;
}
.interlocutor {
  display: flex;
  justify-content: flex-end;
  div {
    color: #fff;
    background-color: rgba(0, 0, 255, 0.719) !important;
  }
}
.message-wrapper {
  margin: 10px;
}

.message-cloud {
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(243, 151, 228, 0.767);
}

.messages {
  position: relative;
  height: 100vh;
  background-image: url('../assets/images/background/background_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #195e55;
  padding: 10px 0;
  &__wrapper-back-user {
    display: flex;
    align-items: center;
  }
  &__wrapper-icons {
    display: flex;
    padding-right: 10px;
    a + a {
      margin-left: 15px;
    }
  }
  &__info {
    margin-left: 10px;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fffffd;
  }
  &__back-arrow {
    width: 30px;
  }

  &__interlocutor-avatar {
    width: 50px;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.body {
  height: 76%;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 25px;
  left: 10px;
  &__input-box {
    display: inline-block;
  }
  &__smile-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__paper-clip {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__camera-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__input {
    height: 40px;
    width: 270px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 50px;
    padding-left: 44px;
    outline: none;
  }
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}
</style>
