<template>
  <a class="button" :href="to">
    <img :src="image" alt="button image" />
  </a>
</template>

<script>
export default {
  name: 'ActionButton',
  props: {
    image: String,
    to: String,
  },
}
</script>

<style lang="scss" scoped>
.button {
  position: absolute;
  bottom: 17px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ecc3f;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
</style>
