<template>
  <ul class="list">
    <li v-for="user in data" v-bind:key="user.id" class="user">
      <router-link
        :to="{ name: 'Messages', params: { chatId: user.id } }"
        @click.native="ancestorData.$emit('change-direction', 'slide-left')"
      >
        <img class="user-avatar" v-bind:src="user.avatar" alt="avatar" />
      </router-link>

      <div class="user-info">
        <div class="user-name-date">
          <div class="user-name">{{ user.name }}</div>
          <div class="user-date">{{ user.date }}</div>
        </div>

        <div class="user-message">{{ user.text }}</div>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'UsersList',
  props: { data: Array[Object] },
  inject: {
    ancestorData: 'providedVal',
  },
}
</script>

<style lang="scss" scoped>
.user-avatar {
  margin-right: 15px;
  height: 54px;
  width: 54px;
}

.user {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.user-info {
  flex: auto;
}

.user-name-date {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.user-name {
  padding-top: 10px;
}

.user-date {
  font-size: 12px;
  color: rgb(105, 105, 105);
}

.user-message {
  font-size: 14px;
  color: rgb(105, 105, 105);
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
</style>
