<template>
  <div id="app">
    <transition :name="direction">
      <router-view />
    </transition>
  </div>
</template>

<script>
import Vue from 'vue'

const eventBus = new Vue({})

export default {
  data: function() {
    return {
      direction: 'slide-right',
    }
  },
  created() {
    eventBus.$on('change-direction', newDirection => {
      this.direction = newDirection
    })
  },
  provide: {
    providedVal: eventBus,
  },
}
</script>

<style lang="scss">
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  // transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.4s linear;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-leave-to {
  transform: translateX(100%);
}
</style>
